.icon-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 30px;
    gap: 10px;
    text-decoration: none;
    width: 100%;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
.icon-link:hover {
    background-color: #feae0055;
    transform: scale(1.025);
}

.icon-link span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    color: black;
}

/* ACTIVE LINK */
.active-icon-link {
    background-color: #FEAF00;
}
.active-icon-link span{
    font-weight: 700;
}

/* REVERSE ALTERNATIVE */
.reversed-icon-link {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}